
.user-profile {
  padding-top: 20rem;
 margin-left: 2rem;
 margin-right: 2rem;
  font-family: 'Inter', sans-serif;

  
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    margin-bottom: 1.5rem;
    
  }

  .profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 2rem;
    margin-bottom: 1rem;
  }

  .profile-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #3082e3;
  }

  .profile-info {
    flex: 1;

    p {
      margin: 0.5rem 0;
      font-size: 1rem;

      strong {
        color: #3082e3;
      }
    }
  }

  .reportes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    width: 100%;
    margin-top: 2rem;
  }

  .reporte-card {
    background-color: #f7f9fc;
    border: 1px solid #d6e8fb;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    transition: 0.3s ease;

    &:hover {
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    h4 {
      margin: 0 0 0.5rem;
      color: #2a2a2a;
    }

    p {
      margin: 0.3rem 0;
      color: #4a4a4a;
      font-size: 0.95rem;
    }
  }
}
