$color-bg: #cfdbf7;
$color-primary: #0077b6;
$color-secondary: #023e8a;
$color-accent: #ff6f61; // coral
$color-text: #333;

.home-container {
 /* padding: 2rem;
  background-color: $color-bg;
  font-family: 'Segoe UI', sans-serif;
  color: $color-text;*/
  max-width: 900px; // Podés subirlo hasta 1100 si querés más ancho
  margin: 0 auto;
  padding: 2rem;
  background-color: $color-bg; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 2.5rem;
    color: $color-primary;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    color: $color-secondary;
  }

  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin-inline: auto;

    input, textarea {
      padding: 0.7rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
    }

    button {
      background-color: $color-accent;
      color: white;
      border: none;
      border-radius: 8px;
      padding: 0.8rem;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($color-accent, 10%);
      }
    }
  }

  .boton{
    background-color: $color-accent;
      color: white;
      border: none;
      border-radius: 8px;
      padding: 0.8rem;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($color-accent, 10%);
      }
     }

  ul {
    margin-top: 2rem;
    padding-left: 0;
    list-style: none;

    li {
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 1rem;
      margin-bottom: 1rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    }
  }
}