.login-container {
  max-width: 400px;
  margin: 7rem auto 3rem;
  padding: 2rem;
  background-color: #f7f9fc;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.07);
  font-family: Arial, sans-serif;

  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: #085baf;
  }

  form {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.4rem;
        font-weight: bold;
        color: #444;
      }

      input {
        width: 100%;
        padding: 0.6rem;
        border: 1px solid #ccc;
        border-radius: 8px;
      }
    }

    button {
      background-color: #085baf;
      color: white;
      border: none;
      padding: 0.8rem;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-weight: bold;

      &:hover {
        background-color: #074a91;
      }
    }

    p {
      color: red;
      margin-top: 1rem;
      text-align: center;
    }
  }
}