.page-container {
   max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 1.5rem 3rem; 
  font-family: Arial, sans-serif;
  padding-top: 20rem;

  @media (max-width: 601px) {
    padding-top: 60rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (max-width: 480px) {
    padding-top: 70rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.form-container {
  background-color: #f7f9fc;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.07);
  margin-bottom: 2rem;


}

.card {
  border: 1px solid #ccc;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.07);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;

  h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1.4rem;
    color: #085baf;
  }

  .description {
    font-size: 1rem;
    color: #444;
    margin-bottom: 0.75rem;
    line-height: 1.3;
    cursor: help;
  }

  .location {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.4rem;
  }

  .card-children {
     margin-top: 1rem;
     display: flex;
     gap: 0.75rem;
     justify-content: center;
  }

  &:hover {
    box-shadow: 3px 3px 18px #f6d7d1;
  }
}
